*/.DS_Store
.DS_Store
*/build*
Assignment3/.gradle/6.6.1/executionHistory/executionHistory.bin
Assignment3/.gradle/6.6.1/fileHashes/fileHashes.lock
Assignment3/.gradle/6.6.1/fileHashes/fileHashes.bin
Assignment3/.gradle/6.6.1/executionHistory/executionHistory.lock
Assignment3/.gradle/6.6.1/executionHistory/executionHistory.bin
Assignment3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Assignment3/.gradle/6.6.1/javaCompile/javaCompile.lock
*.lock
Assignment4/Assignment4/activity1/.gradle/buildOutputCleanup/outputFiles.bin
Assignment4/Assignment4/activity1/.gradle/6.6.1/javaCompile/taskHistory.bin
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/StringList.class
Assignment4/Assignment4/activity1/build/tmp/compileJava/source-classes-mapping.txt
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/Performer.class
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/Server.class
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/NetworkUtils.class
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/JsonUtils.class
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/Client.class
*.bin
Assignment4/Assignment4/activity1/.gradle/buildOutputCleanup/outputFiles.bin
Assignment4/Assignment4/activity1/.gradle/6.6.1/javaCompile/taskHistory.bin
Assignment4/Assignment4/activity1/.gradle/6.6.1/fileHashes/fileHashes.bin
Assignment4/Assignment4/activity1/.gradle/6.6.1/executionHistory/executionHistory.bin
Assignment3/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Assignment3/.gradle/6.6.1/javaCompile/javaCompile.lock
Assignment3/.gradle/6.6.1/javaCompile/classAnalysis.bin
Assignment3/.gradle/6.6.1/fileHashes/fileHashes.lock
Assignment3/.gradle/6.6.1/fileHashes/fileHashes.bin
Assignment3/.gradle/6.6.1/executionHistory/executionHistory.lock
Assignment3/.gradle/6.6.1/executionHistory/executionHistory.bin
*/.gradle
*/.classpath
*/.project
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/ThreadedServer.class
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/ThreadPoolServer.class
Assignment4/Assignment4/activity1/build/classes/java/main/taskone/Worker.class
Assignment4/logs.txt
*/logs.txt
*/.#*
Assignment4/Assignment4/activity2/build/classes/java/main/buffers/RequestProtos$Logs$1.class
Assignment4/Assignment4/activity2/build/classes/java/main/buffers/RequestProtos$Logs$Builder.class
Assignment4/Assignment4/activity2/build/classes/java/main/buffers/RequestProtos$Logs.class
Assignment4/Assignment4/activity2/build/classes/java/main/buffers/RequestProtos$LogsOrBuilder.class
Assignment4/Assignment4/activity2/build/classes/java/main/buffers/RequestProtos$Message$1.class
*.class
*.proto
Assignment4/Assignment4/activity2/build/generated/source/proto/main/java/buffers/RequestProtos.java
Assignment4/Assignment4/activity2/build/generated/source/proto/main/java/buffers/ResponseProtos.java
Assignment4/Assignment4/activity2/build/tmp/compileJava/source-classes-mapping.txt
Assignment4/Assignment4/activity2/logs.txt
